/*NAVBAR*/

body {
margin: 0;
background-color: #f2f2f2;

}

/*SIDE BAR CSS*/

.sidenav {
  height: 100%;
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #283a47;
  overflow-x: hidden;
  padding-top: 10px;
}





@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*logo css*/

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;

}

/* text footer */

footer {
   position: fixed;
   bottom: 0;
   width: 10%;
   background-color: #283a47;
   color: gray;
   text-align: center;
   font-size: 25px;
}


/*top nav css*/

.topnav {
  overflow: hidden;
  background-color: #8fbc64;

}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: white;
}

/*text css*/


.hr {
 background-color: black;
}

section {
  position: fixed;
  width: 100%;

}
